/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #444;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navigation */
.navbar {
    background-color: #007bff;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    margin-left: 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Forms */
.delete-post-form, .update-post-form, .likes-form, .create-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="password"], .update-area, .create-area  {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.create-button, .update-button .delete-button, .register-button, .login-button, .like-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Posts */
.post {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 400px;  /* Set the width */
    height: 400px; /* Set the height */
    object-fit: cover; /* Crop the image to fit */
}

.post-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.post-actions button {
    background-color: #f4f4f9;
    color: #333;
    border: 1px solid #ddd;
}

.post-actions button:hover {
    background-color: #ddd;
}

/* Likes and Comments */
.likes-comments {
    margin-top: 10px;
}

.likes-comments a {
    color: #007bff;
    font-size: 14px;
}

.comments {
    margin-top: 10px;
}

.comment {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    word-wrap: break-word; /* Ensures long words break */
}

.comment p {
    margin: 0;
    font-size: 14px;
}

.comment-area {
    width: 60%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.comment-form {

}

.comment-button {

}

.add-comment-div {
    background-color: #007bff;
}

/* Login and Register Pages */
.auth-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-container h1 {
    text-align: center;
    margin-bottom: 20px;
}